#searchengine{
    background-color:white;
    padding: 1px;
    position: relative;
    background-size: cover;

}

.intro {
    position: relative;
    height: 550px;
    margin: 0;
    background: black;
    background-image: url("shutterstock_1486328387.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    font-size: x-large;
  }
    



#totalpage{
    background-color: rgb(6, 38, 53);
    margin-right:0;
    margin-left: 0;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-size: cover;
}

/* #totalpage1{
    background-color: rgb(219, 219, 219);
    padding-bottom: 10px;
} */


.row{
    color: white;
    font-size: x-large;
    margin-right:0;
    margin-left: 0;
    position: relative;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    /* background-color: white; */



/* .page-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color:orange;
    font-size: x-large;
    position: absolute;
    box-sizing: content-box;
    font-weight: bold;
} */


/* .subpage1-title1{
    color: orangered;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;


} */

/* h1{

    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
} */

/* .subpage1-title2{
    color: orangered;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;


} */
/* 
.page2-plot-titles{
    font-weight: bold;
} */
